__pycache__/
.idea/
venv/
.mypy_cache/
.vscode
.ruff_cache/
.pytest_cache/
migrations/

db.sqlite3
db.sqlite3-journal
db.sqlite3-shm
db.sqlite3-wal

.DS_Store
._.DS_Store
资料/~$苏州思普微介绍_20250526.pptx
资料/~$苏州思普微介绍_20250526.pptx
资料/~$苏州思普微介绍_20250526.pptx
web/dist20250816.zip
资料/~$苏州思普微介绍_20250526.pptx
其他/修改需求20250819/~$修改内容.docx
web/dist.zip
web/dist.zip

# 忽略所有zip文件
*.zip
web/dist.zip
